* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.parent {
  padding: 148px 28px 85px 24px;
}

.box {
  height: 535px;
  width: 327px;
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  padding: 24px;
}

.mobile-img {
  width: 236.85px;
  height: 139.37px;
}

.mobile-img-shadow {
  margin-top: -60px;
  width: 66%;
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-left: 17px;
}

.mobile-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -107px;
  margin-left: 20px;
}

.mobile-icon {
  margin-left: 100px;
  margin-top: 100px;
}

.how-many-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-top: 40px;
}

.you-can-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  display: none;
  margin-top: 13px;
}

.what-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-top: 19px;
}

.no-more-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-top: 13px;
  display: none;
  margin-top: 13px;
}

.how-do-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-top: 19px;
}

.click-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  display: none;
  margin-top: 13px;
}

.can-i-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-top: 19px;
}

.yes-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  display: none;
  margin-top: 13px;
}

.do-you-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-top: 19px;
}

.chat-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  display: none;
  margin-top: 13px;
}

.text-divs {
  padding: 24px;
}

.line1 {
  height: 1px;
  width: 279px;
  border-radius: 0px;
  background: #e8e8ea;
  margin-top: 18px;
}

.line2 {
  height: 1px;
  width: 279px;
  border-radius: 0px;
  background: #e8e8ea;
  margin-top: 18px;
}

.line3 {
  height: 1px;
  width: 279px;
  border-radius: 0px;
  background: #e8e8ea;
  margin-top: 18px;
}

.line4 {
  height: 1px;
  width: 279px;
  border-radius: 0px;
  background: #e8e8ea;
  margin-top: 18px;
}

.line5 {
  height: 1px;
  width: 279px;
  border-radius: 0px;
  background: #e8e8ea;
  margin-top: 18px;
}

.how-many-icon-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.small-icon {
  height: 4px;
  width: 8px;
}

.rotate {
  transform: rotate(0.5turn);
}

.what-icon-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.how-do-icon-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.can-icon-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.do-icon-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.dekstop-img-div {
  display: none;
}

.mobile-img-div {
  display: block;
}

.icon-box {
  display: none;
}

@media screen and (min-width: 1440px) {
  .dekstop-img {
    margin-left: -16%;
    margin-top: 8%;
  }

  .icon-box {
    display: block;
    margin-top: -15%;
    margin-left: -94px;
    position: fixed;
  }

  .mobile-icon {
    margin-left: 0;
  }

  .dekstop-img-shadow {
    mix-blend-mode: normal;
    opacity: 0.9;
    margin-top: -70%;
    position: absolute;
    margin-left: -203%;
  }

  .dekstop-img-div {
    display: block;
    position: absolute;
  }

  .mobile-img-div {
    display: none;
  }

  .box {
    height: 509px;
    width: 920px;
    background: #ffffff;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    overflow: hidden;
    position: relative;
  }

  .parent {
    padding: 129px 239px 130px 281px;
  }

  .text-icon-divs {
    padding: 65px 111px 102px 475px;
  }

  .mobile-icon {
    margin-top: 0;
  }

  :hover {
    color: #f47b56;
  }

  .how-many-text {
    cursor: pointer;
  }

  .what-text {
    cursor: pointer;
  }

  .how-do-text {
    cursor: pointer;
  }

  .can-i-text {
    cursor: pointer;
  }

  .do-you-text {
    cursor: pointer;
  }
}
